.App {
  background-color: black;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* header css */

.header{
  margin: 0 2.5rem;
  padding: .5rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;

}
.headerLeft, .headerRight{
  display: flex;
  align-items: center;
}

.header_icon{
  width: 120px;
  cursor: pointer;
  
}
a > span{
  margin: 0 30px;
  font-size: 200%;
  cursor: pointer;
  color: white;
}
a > span:hover{
  color: red;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
